.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 100px;
  position: relative;
  z-index: 3;
}

/* Navigation Menu */
.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 60px;
  font-size: 20px;
}

.nav-menu li {
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

/* Connect Button */
.nav-connect {
  padding: 20px 40px;
  border-radius: 50px;
  font-weight: bold;
  background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.06%);
  font-size: 22px;
  cursor: pointer;
  transition: transform 0.5s;
}

.nav-connect:hover {
  transform: scale(1.05);
}

/* Mobile Icons */
.nav-mob-open {
  display: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.nav-mob-close {
  display: none;
  position: absolute;
  top: 30px;
  right: 30px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

/* Smooth Scroll */
html {
  scroll-behavior: smooth;
}

/* ---------------------------------------
      Mobile Styles
---------------------------------------- */
@media (max-width: 768px) {

  .navbar {
    margin: 20px 30px;
  }

  .nav-connect {
    display: none;
  }

  .nav-mob-open {
    display: block;
    position: absolute;
    right: 30px;
  }

  .nav-menu {
    position: fixed;
    right: -400px;       /* hidden by default */
    top: 0;
    flex-direction: column;
    align-items: center;
    background-color: #1f0016;
    width: 350px;
    height: 100vh;
    padding-top: 80px;
    gap: 30px;
    transition: right 0.4s ease;
    z-index: 10;
  }

  .nav-menu.open {
    right: 0;            /* menu visible */
  }

  .nav-mob-close {
    display: block;
  }
   #hr {
    display: none;
  } 

}

/* Horizontal line */
#hr {
  position:absolute;
  padding-top: 20px;
  bottom: 0;
  left: 0;
  width: 100%
}
